<h3>Create Template</h3>
<hr>

<div class="container">
    <div class="row">
        <div class="col-4">
            <p>Name</p>
            <input type="text" placeholder="UK-MHRA-01">
        </div>
        <div class="col-4">
            <p>Region</p>
            <input type="text" placeholder="UK">
        </div>
        <div class="col-4">
            <button type="button" style="background-color: orange; color: white;">Create Structure</button>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
       
        <div class="col-4">
            <button type="button" style="background-color: orange; color: white;">Modify Template</button>

        </div>
        <div class="col-4">
            <button type="button" style="background-color: orange; color: white;">save</button>

        </div>
        <div class="col-4">
            <button type="button" style="background-color: white; color:black;">save</button>

        </div>
        
    </div>
</div>
